.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contents {
    display: flex;
    flex-wrap: wrap;
}

.content {
    line-height: 1.6;
    margin: 30px;
    width: 45%;
    max-height: 800px;
    background-color: aqua;
    height: auto;
    border-radius: 10%;
}

.content p {
    margin-bottom: 50px;
}

.container {
    display: flex;
    margin-bottom: 30px;
}

.container p {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    font-size: 24px;
    background-color: azure;
    margin: 10px 10px;
}

.container img {
    width: 240px;
    margin: 20px 20px;
}

h2 {
    position: relative;
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    text-align: center;
    margin: 20px;
}

h2:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #a8d4ff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

* {
    margin: 0;
    padding: 0;
    height: auto;
}

body {
    background: #f6f6f6;
}

header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
    text-align: left;
    background:linear-gradient(60deg, #219c68, #77b8d4, #d6bd60);
}

.headline  {
    line-height: 100px;
    margin-left: 100px;
    font-size: 40px;
}

.nav-list {
    line-height: 100px;
    margin-right: 30px;
    list-style: none;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-list-item a {
    text-decoration: none;
    color: azure;
}

.nav-list-item a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #337079;
}

.footer-menu a {
    text-decoration: none;
    color: azure;
}

footer p {
  color: azure;
}

.footer-menu a:hover {
    text-decoration: underline;
}
